@model IEnumerable<MiTienda.Models.ordenCliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_creacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.num_confirmacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.num_guia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_envio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_entrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datosEnvio.calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paqueterias.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuarios.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ordenProducto.Id_ordenCliente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num_confirmacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num_guia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_envio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_entrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datosEnvio.calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paqueterias.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarios.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ordenProducto.Id_ordenCliente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_ordenCliente }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_ordenCliente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_ordenCliente })
        </td>
    </tr>
}

</table>
