@model IEnumerable<MiTienda.Models.ordenCliente>

@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_LayoutAlmacen.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading text-cente" style="background-color:rgb(65,105,226); color:white;"><h2>Pedidos por entregar</h2></div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.num_guia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_envio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_entrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clientes.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datosEnvio.calle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paqueterias.nombre)
            </th>>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.fecha_envio
                != null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.num_guia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha_envio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha_entrega)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.clientes.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.datosEnvio.calle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.paqueterias.nombre)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id_ordenCliente }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.Id_ordenCliente }) 
                    </td>
                </tr>
            }

        }

    </table>
</div>
    
