@model MiTienda.Models.Roles

@{
    ViewBag.Title = "Registrar Rol";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="row">
    <h2 class="col-md-10" style="text-align:left">Registra un Nuevo Rol</h2>
    <a href="/Roles" class="btn col-md-2" style="margin-top: 15px; margin-bottom:20px;">
        <button style="font-size:17px; background-color:black; color:white; border-radius: 44px;">
            <i class="fa fa-fw fa-arrow-left"></i>
        </button>
    </a>
</div>
<hr />
<h4>Por favor, Ingrese los siguientes datos del Nuevo Rol</h4>
<br />

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formRol" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal"> 
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.id_rol, "ID del Rol", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.id_rol, new { htmlAttributes = new { @class = "form-control", @id = "idRol" } })
                @Html.ValidationMessageFor(model => model.id_rol, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombre, "Nombre del Rol", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @id = "nombreRol" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descripcion, "Descripción del Rol", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control", @id = "descripcionRol" } })
                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <button style="background-color:black; color:white;" class="btn btn-default" id="btnGuardarRol">REGISTRAR ROL</button>
                </div>
                <div class="col-md-2" hidden>
                    <input type="submit" style="background-color:royalblue; color:white;" value="SUBMIT" class="btn btn-default" id="btnSubmitRol" hidden />
                </div>
            </div>
        </div>

    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
