@model MiTienda.Models.Roles

@{
    ViewBag.Title = "Eliminar Rol";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Confirmar Eliminación</h2>

<h3>Se eliminará el siguiente Rol</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" style="background-color:black; color:white;" value="Sí, Eliminar" class="btn btn-default" /> |
            <a href="/Roles"  class="btn  btn-default" style="background-color:black; color:white;" style="margin-top: 15px; margin-bottom:20px;">
              Regresar a la Lista
             </a>
        </div>
    }
</div>
