@using MiTienda.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/images/estilosTablas.css">

<div style="height: 150px; background-color:white"></div>

<section class="contenedor-tabla">
    <div class="contenido-tabla">
        <h2>Carrito de Compras</h2>

        <h3>Lista de productos</h3>
        <table class="tabla">
            <thead>
                <tr class="info">
                    <th>Opción</th>
                    <th>Nombre</th>
                    <th>Foto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>

                </tr>
            </thead>
            <tbody>
                @{ if (Session["cart"] != null)
                    {
                        foreach (Item item in (List<Item>)Session["cart"])
                        {
                <tr>
                    <td><a href="@Url.Action("Quitar", "Carro", new { id = item.Product.Id_producto })">Quitar</a></td>
                    <td>@item.Product.nombre</td>
                    <td><img class="img-responsive" src="~/Content/images/motores/@item.Product.imagen" /></td>
                    <td>@item.Product.precio</td>
                    <td>@item.Cantidad</td>
                    <td>@(item.Product.precio * item.Cantidad)</td>
                  
                </tr>
                        }
                        <tr>
                            <td align="right" colspan="5">Total</td>
                            <td>
                                @{
                                    List<Item> cart = (List<Item>)Session["cart"];
                                    var total = cart.Sum(item => item.Product.precio * item.Cantidad);
                                    var numero = cart.Sum(item => item.Cantidad); //para sumar icono de carrito
                                    Session["itemTotal"] = numero; //para sumar icono de carrito
                                }@total
                            </td>
                        </tr>                      
                    }
                }
            </tbody>
        </table>
        <br />
        <a class="boton" href="@Url.Action("Index","Home")">Continuar Comprando</a>
        <p>
            @Html.ActionLink("Confirmar Orden", "CrearOrden", "Pago", new { area = "" }, new { @class = "boton" })
        </p>
    </div>
</section>
