@model IEnumerable<MiTienda.Models.paqueterias>

@{
    ViewBag.Title = "Home - Paqueterias";
    Layout = "~/Views/Shared/_LayoutAlmacen.cshtml";
}

<p>
    @Html.ActionLink("Nueva paqueteria", "Create")
</p>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading text-cente" style="background-color:rgb(65,105,226); color:white;"><h2>Paqueterias Activas</h2></div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rfc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.web)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telContacto)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rfc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.web)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telContacto)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id_paqueteria }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id_paqueteria }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id_paqueteria })
                </td>
            </tr>
        }

    </table>
    </div>
