@model MiTienda.Models.clientes

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Correo = Session["correo"];
}
<div style="height: 150px; background-color:white"></div>
<h2>Favor de registrar su información</h2>

@*using (Html.BeginForm()) *@
@using (Html.BeginForm("Create","clientes", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>clientes</h4>
    <img src="~/Content/images/carrusel/registrarse_logo.jpg" style="margin-left:15%; width:300px; height:250px;" />
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.apellido_p, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.apellido_p, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.apellido_p, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.apellido_m, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.apellido_m, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.apellido_m, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.contraseña, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.contraseña, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.contraseña, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fecha_nacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fecha_nacimiento, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fecha_nacimiento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.rfc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.rfc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.rfc, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.telefono, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
        </div>
    </div>





    <div class="form-group">
        @Html.Label("calle", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
                @Html.Editor("calle", new { htmlAttribute = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("colonia", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("colonia", new { htmlAttribute = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("estado", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("estado", new { htmlAttribute = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("municipio", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("municipio", new { htmlAttribute = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("numero exterior", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("num_exterior", new { htmlAttribute = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("numero interior", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("num_interior", new { htmlAttribute = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("código postal", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("cp", new { htmlAttribute = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("numero de tarjeta", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("numeracion", new { htmlAttribute = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("fecha tarjeta", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("fecha", new { htmlAttribute = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("cvv", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("cvv", new { htmlAttribute = new { @class = "form-control" } })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" style="color:white; background-color:royalblue" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
