<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .tnavbar {
            overflow: hidden;
            background-color: royalblue;
            height: 120%;
            display: flex;
            justify-content: center;
        }

        #motor {
            margin-left: 35%;
            font-weight: bold;
            color: white;
            font-size: 500%;
        }

        #buscador {
            margin-top: 3%;
            margin-left: 15%;
            display: flex;
        }

        h2 {
            text-align: center;
        }

        .contenedor {
            text-align: center;
            justify-content: center;
            align-items: center;
            border: 1px solid #aaa;
            padding: 10px;
            width: 300px;
            margin-left: 420px;
        }

        .input-contenedor {
            margin-top: 20px;
        }
    </style>

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="tnavbar">
            <h1 id="motor">Motor - Inc</h1>

            <div class="search-container" id="buscador">
                @using (Html.BeginForm("BuscaProd", "Catalogo", FormMethod.Post, new { @class = "form-inline" }))
                {
                    <input class="form-control mr-sm-2" type="text" placeholder="Buscar.." name="nomBuscar" id="nomBuscar">
                    <button class="btn btn-primary" type="submit" value="submit"><i class="fa fa-fw fa-search"></i></button>
                }

            </div>
        </div>

        <div style="height: 10px; background-color:white"></div>

        <div class="container" style="top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" aria-expanded="false" hef="#" data-toggle="dropdown">Categorías<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Corriente Alterna", "prodCategoria", "Catalogo", new { idCat = 1 }, null)</li>
                            <li>@Html.ActionLink("Corriente Continua", "prodCategoria", "Catalogo", new { idCat = 2 }, null)</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Productos", "prodCompletos", "Catalogo")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial_1")
            </div>

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Motor-Inc ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
