@model MiTienda.Models.Empleado

@{
    ViewBag.Title = "Registrar Empleado";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}
<div style="height: 150px; background-color:white"></div>
<div class="row">
    <h2 class="col-md-10" style="text-align:left">Registra un Nuevo Empleado</h2>
    <a href="/Administrador" class="btn col-md-2" style="margin-top: 15px; margin-bottom:20px;">
        <button style="font-size:17px; background-color:black; color:white; border-radius: 44px;">
            <i class="fa fa-fw fa-arrow-left"></i>
        </button>
    </a>
</div>
<hr />
<h4>Por favor, Ingrese los siguientes datos del Nuevo Empleado</h4>
<br />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_rol, "id_rol", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_rol", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_rol, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" style="background-color:black; color:white;" value="REGISTRAR EMPLEADO" class="btn btn-default" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
