@model MiTienda.Models.Empleado

@{
    ViewBag.Title = "Registrar Empleado";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}
<div class="row">
    <h2 class="col-md-10" style="text-align:left">Registra un Nuevo Empleado</h2>
    <a href="/Administrador/Lista" class="btn col-md-2" style="margin-top: 15px; margin-bottom:20px;">
        <button style="font-size:17px; background-color:black; color:white; border-radius: 44px;">
            <i class="fa fa-fw fa-arrow-left"></i>
        </button>
    </a>
</div>
<hr />
<h4>Por favor, Ingrese los siguientes datos del Nuevo Empleado</h4>
<br />


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formEmp" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.nombre,"Nombre del Empleado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @id = "nombreEmpleado" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>
		
		<div class="form-group" hidden>
            @Html.LabelFor(model => model.contrasenia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contrasenia, new { htmlAttributes = new { @class = "form-control", @Value = "Contra.1234"} })
                @Html.ValidationMessageFor(model => model.contrasenia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.correo, "Correo del Empleado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control", @id = "correoEmpleado" } })
                @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_rol, "Rol del Empleado", htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("id_rol", null, htmlAttributes: new { @class = "form-control", @id = "rolEmpleado" })
                @Html.ValidationMessageFor(model => model.id_rol, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <button style="background-color:black; color:white;" class="btn btn-default" id="btnGuardarEmpleado">REGISTRAR EMPLEADO</button>
                </div>
                <div class="col-md-2" hidden>
                    <input type="submit" style="background-color:royalblue; color:white;" value="SUBMIT" class="btn btn-default" id="btnSubmitEmpleado" hidden />
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
