@model MiTienda.Models.Empleado

@{
    ViewBag.Title = "Detalles del Empleado";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="row">
    <h2 class="col-md-10" style="text-align:left">Detalles del Empleado con ID @Model.id_emp</h2>
    <a href="/Administrador/Edit/@Model.id_emp" class="btn col-md-1" style="margin-top: 15px; margin-bottom:20px;">
        <button style="font-size:17px; background-color:black; color:white; border-radius: 44px;">
            <i class="fa fa-fw fa-edit"></i>
        </button>
    </a>
    <a href="/Administrador/Lista" class="btn col-md-1" style="margin-top: 15px; margin-bottom:20px;">
        <button style="font-size:17px; background-color:black; color:white; border-radius: 44px;">
            <i class="fa fa-fw fa-arrow-left"></i>
        </button>
    </a>
</div>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            <p style="font-size:24px">Nombre: </p>
        </dt>

        <dd>
            <p style="font-size:22px">@Model.nombre</p>
        </dd>

        <dt>
            <p style="font-size:24px">Correo: </p>
        </dt>

        <dd>
            <p style="font-size:22px">@Model.correo</p>
        </dd>

        <dt>
            <p style="font-size:24px">Rol: </p>
        </dt>

        <dd>
            <p style="font-size:22px">@Model.Roles.nombre</p>
        </dd>

        <dt>
            <p style="font-size:24px">Actividades: </p>
        </dt>

        <dd>
            <p style="font-size:22px">@Model.Roles.descripcion</p>
        </dd>


    </dl>
</div>

